.clients__title {
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;
}

.clients__list {
    display: flex;
}

.clients__link {
    @extend %aline-justify;
    outline: transparent;
    width: 170px;
    height: 90px;
    border: 1px solid rgba(175, 177, 184, 1);
    border-radius: 6px;
    border-color: $icon-color;
    box-shadow: none;
    transition: border-color $time-transition $cubik,
        box-shadow 500ms $cubik;
        &:hover,
            &:focus {
                border-color: $accent-color;
                box-shadow: 0px 3px 1px rgba(0, 0, 100, 0.1),
                    0px 1px 2px rgba(0, 0, 100, 0.08), 0px 2px 2px rgba(0, 0, 100, 0.12);
            }
}

.clients__icon {
    width: 106px;
    height: 60px;
    fill: $icon-color;
    transition: fill $time-transition $cubik;
    .clients__link:hover &,
        .clients__link:focus & {
            fill: $accent-color;
        }
}



.clients__item:not(:first-child) {
    margin-left: 30px;
}